<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrainingCenterProject"
        tools:targetApi="31">
        <activity
            android:name=".TraineeHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_trainees_available_courses"
            android:theme="@style/Theme.TrainingCenterProject.NoActionBar" />
        <activity
            android:name=".InstructorSignUp"
            android:exported="false" />
        <activity
            android:name=".TraineeSignUp"
            android:exported="false" />
        <activity
            android:name=".AdminSignUp"
            android:exported="false" />
        <activity
            android:name=".UserRoleUI"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>